body{
  font-family:Arial,Times,Sans-serif;
  background-color:white;
 }
header{
  background-color:green;
  color:white;
  text-align:center;
  padding:20px;
}
article h1{
    font-hight:5px;
    font-size:1.5em; 
    color:green
         }

header img{
         width:100px;
         height:100px;
         float:left;
          padding:0;
          margin:0;
        overflow:hidden;   
      }
header img:hover{
        border-radius:50px;
        box-shadow:2px 2px 5px 1px;
        border:5px double orange;
      }
hgroup img{
         width:100px;
         height:100px;
         float:right;
          padding:0;
          margin:0;
        overflow:hidden;
        }
      
hgroup h1{
       font-size:2em;
}
hgroup h2{
       font-size:1.2em;
}
nav ul{
  list-style-type:none;
  overflow:hidden;
}

li a{
    text-decoration:none;
    padding:5px;
    display:block;
    
 }
li a:hover{
      background-color:lightgreen;
}

nav li{
  float:left; 
  margin-right:5px;
  background-color:yellow
  
}
section{
  background-color:white;
  
  border-width:5px;
  border-style:double;
  border-color:green;
  padding:15px;
  over-flow:hidden;
}
section img {
   position:center;
}

@media (min-width: 768px) {
  footer {
    background-color:blue;
  text-align:center;
  padding:20px; 
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-link {
    margin: 0 10px;
  }
}